<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>HOME||Smart Contact User</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>

	<section>
		<div class="container">

			<div class="card">

				<div class="card-body">

					<div class="container text-center">

						<img style="height: 200px; width: 200px;"
							class="my_profile_picture" th:src="@{'/image/'+${user.imageUrl}}"
							alt="profile photo" />

					</div>

					<h1 class="text-center mt-2" th:text="${user.name}"></h1>

					<table class="table text-center table-striped ">

						<thead>
							<tr>
								<th scope="col">#USERID</th>
								<th scope="col">SCMUSER-<span th:text="${user.id}"></span></th>
							</tr>
						</thead>
						<tbody>

							<tr>
								<th scope="row">Email</th>
								<td><span th:text="${user.email}"></span></td>
							</tr>

							<tr>
								<th scope="row">Role</th>
								<td><span th:text="${user.role}"></span></td>
							</tr>

							<tr>
								<th scope="row">Account Active</th>
								<td><span th:text="${user.enabled}"></span></td>
							</tr>

							<tr>
								<th scope="row">About You</th>
								<td><span th:text="${user.about}"></span></td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>

		<script>
			$(document).ready(()=>{
				$(".item").removeClass("active");
				$("#profile-link").addClass("active");
			});
			
		</script>

	</section>

</body>
</html>