<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Home Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
	<section
		class="banner d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h1 class="font-weight-bold">Smart Contact Manager</h1>
			<p>Start Collecting your contacts in very smarter way. We provide
				very efficient and smarter way of handling contacts</p>
			<p class="nav-item btn"><a class="nav-link  btn-primary" href="#"
				th:href="@{/signin}" tabindex="-1" aria-disabled="true">Get Started</a></p>
		</div>
	</section>
</body>
</html>